<div id="widget" class="row mx-4">
    <div class="col">
        <div class="row round">
            <div class="col w1">
                <div class="w1-1 round mx-2 my-4 w-min-height z-depth-1 "
                data-aos="zoom-in-down">
                  <div class="w-row">
                    <div class="col text-center w-pad">
                      <i class="fa fa-users rounded-circle p-4 w1-1-icon"></i>
                    </div>
                    <div class="col text-right w-text">
                      <h2>24</h2>
                      <h5>کارمندان</h5>
                    </div>
                  </div>
                </div>
                <div class="w1-2 round p-2 mx-2 mt-2 w-min-height z-depth-1"
                data-aos="zoom-in-down">
                  <div class="w-row">
                    <div class="col text-center w-pad">
                        <i class="fa fa-calendar rounded-circle p-4 w1-2-icon"></i>
                      </div>
                    <div class="col text-right w-text">
                      <h2>10</h2>
                      <h5>وظایف امروز</h5>
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="col w2">
                <div class="w2-1 round p-2 mx-2 my-4 w-min-height z-depth-1"
                data-aos="zoom-in-down">
                  <div class="w-row">
                    <div class="col text-center w-pad">
                        <i class="fa fa-desktop rounded-circle p-4 w2-1-icon"></i>
                      </div>
                    <div class="col text-right w-text">
                      <h2>15</h2>
                      <h5>وظایف درحال انجام</h5>
                    </div>
                  </div>
                </div>
                <div class="w2-2 round p-2 mt-2 mt-2 w-min-height border"
                data-aos="zoom-out-down">
                  <div class="w-row">
                    <div class="col text-center w-pad">
                        <i class="fa fa-sitemap rounded-circle p-4 w2-2-icon"></i>
                      </div>
                    <div class="col text-right w-text">
                      <h2>12</h2>
                      <h5>پروژه ها</h5>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>


  <div class="col w3 border round mt-4 mx-2 p-4" dir="ltr">
    <div id="chartContainer" style="width: 100%; height: 290px;"></div>
  </div>
</div>
