<div class="row back-white z-depth-1" style="margin: 0;" >
  <div class="col-8">
    <section id="navbar">
        <div class="search-bar w-100 text-right mt-4">
          <a href="#"><i class="fa fa-search mt-2"></i></a>
          <input id="search" class="p-2"
           type="text" placeholder="جست و جو ..."/>
        </div>
    </section>
  </div>
  <div class="col-4 back">
    <header class="d-flex content-center" style="float: left; margin-left: 2rem;">

      <span class="mt-2">
        <a 
        class="mx-2 rounded-circle"
        ><i class="fa fa-bell mt-4"></i></a
      >
      </span>
      <span>
      <p class="mt-2">
        <a 
        class="mx-2 rounded-circle"
        ><i class="fa fa-angle-down mt-4"></i></a
      >
      علی ندیرخانلو
        <img
            class="mx-2 rounded-circle"
            src="../../../assets/imgs/avatar.JPG"
            style="
              width: 3rem;
              height: 3rem;
              border: 2px #847e7e solid;"
          />

      </p>
    </span>
    </header>
  </div>
</div>
