<div class="row-container" style="">
  <div class="col-6 back">
    <div class="container">
      <div class="login-content">
        <div class="content-center">
          <h1 class="mb-4 text-green">خوش آمدید :)</h1>
          <p class="h5">برای استفاده از امکانات سامانه لطفا با وارد نمودن نام کاربری و رمز عبور خود وارد شوید </p>
        </div>
        <!-- Default form login -->
        <form [formGroup]="validationForm">
          <div class="md-form">
            <mdb-icon fas icon="envelope" class="prefix input-icon"></mdb-icon>
            <input
              mdbInput
              mdbValidate
              formControlName="emailFormEx"
              minLength="8"
              maxLength="25"
              type="email"
              class="form-control"
              id="form9"
            />
            <label for="form9">ایمیل خود را وارد نمایید</label>
            <mdb-error
              *ngIf="
                emailFormEx.invalid &&
                (emailFormEx.dirty || emailFormEx.touched)
              "
              >ورودی نامعتبر</mdb-error
            >
            <mdb-success
              *ngIf="
                emailFormEx.valid && (emailFormEx.dirty || emailFormEx.touched)
              "
              >ورودی صحیح می باشد</mdb-success
            >
          </div>

          <div class="md-form">
            <mdb-icon fas icon="lock" class="prefix input-icon"></mdb-icon>
            <input
              mdbInput
              mdbValidate
              formControlName="passwordFormEx"
              minLength="10"
              maxLength="25"
              type="password"
              class="form-control"
              id="form10"
            />
            <label for="form10">رمزعبور را وارد کنید</label>
            <mdb-error
              *ngIf="
                passwordFormEx.invalid &&
                (passwordFormEx.dirty || passwordFormEx.touched)
              "
              >ورودی نامعتبر
            </mdb-error>
            <mdb-success
              *ngIf="
                passwordFormEx.valid &&
                (passwordFormEx.dirty || passwordFormEx.touched)
              "
              >ورودی صصحیح می باشد
            </mdb-success>
          </div>
          <div class="row">
            <div class="col">
              <mdb-checkbox [default]="true" style="text-align: right;"
                >مرا بخاطر بسپار</mdb-checkbox
              >
            </div>
            <div class="col"><a class="deep-purple-text" href="#">رمزعبور را  فراموش کرده اید؟</a></div>
          </div>
          <a
            mdbBtn
            class="mt-5 back-purple round z-depth-1"
            color="info"
            rounded="true"
            mdbWavesEffect
            >وارد میشم</a
          >
          <a
            mdbBtn
            class="mt-5 back-green round z-depth-1"
            color="info"
            rounded="true"
            mdbWavesEffect
            >ثبت نام میکنم</a
          >

          <div class="d-table container content-center">
            <p style="text-align: right;" class="mt-3">ورود با استفاده از : </p>
            <ul class="list-unstyled list-inline text-right">
              <li class="list-inline-item">
                <a
                  mdbBtn
                  class="mx-1 cyan accent-4 circule"
                  mdbWavesEffect
                >
                  <mdb-icon fab icon="twitter" class="fn-2"></mdb-icon>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  mdbBtn
                  class="mx-1 orange darken-4 circule"
                  mdbWavesEffect
                >
                  <mdb-icon fab fab icon="google-plus" class="fn-2"></mdb-icon>
                </a>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-6 back">
    <header style="height: 15vh;">
      <p><img src="../../../assets/imgs/logo.png"  style="width: 10rem;
        margin-left: 5rem;
        height: 10rem;"/></p>
    </header>
    <div>
      <img src="../../../assets/imgs/login.png" class="img-fluid login-img"/>
    </div>
  </div>
</div>
