<div class="row-container" style="height: 100vh;">
  <div class="col bluee">
    <div class="container">
      <div class="login-content">
        <div class="content-center">
          <h2 class="mb-4">welcome Back :)</h2>
          <p>adfasdfasdfaksdhfashdfiahdsfjasdhfiuagsidfaksdjgfajsdgfkjadsfjk</p>
        </div>
        <!-- Default form login -->
        <form [formGroup]="validationForm">
          <div class="md-form">
            <mdb-icon fas icon="envelope" class="prefix input-icon"></mdb-icon>
            <input
              mdbInput
              mdbValidate
              formControlName="emailFormEx"
              minLength="8"
              maxLength="25"
              type="email"
              class="form-control"
              id="form9"
            />
            <label for="form9">Type your e-mail</label>
            <mdb-error
              *ngIf="
                emailFormEx.invalid &&
                (emailFormEx.dirty || emailFormEx.touched)
              "
              >Input invalid</mdb-error
            >
            <mdb-success
              *ngIf="
                emailFormEx.valid && (emailFormEx.dirty || emailFormEx.touched)
              "
              >Input valid</mdb-success
            >
          </div>

          <div class="md-form">
            <mdb-icon fas icon="lock" class="prefix input-icon"></mdb-icon>
            <input
              mdbInput
              mdbValidate
              formControlName="passwordFormEx"
              minLength="10"
              maxLength="25"
              type="password"
              class="form-control"
              id="form10"
            />
            <label for="form10">Type your password</label>
            <mdb-error
              *ngIf="
                passwordFormEx.invalid &&
                (passwordFormEx.dirty || passwordFormEx.touched)
              "
              >Input invalid
            </mdb-error>
            <mdb-success
              *ngIf="
                passwordFormEx.valid &&
                (passwordFormEx.dirty || passwordFormEx.touched)
              "
              >Input valid
            </mdb-success>
          </div>
          <div class="row">
            <div class="col">
              <mdb-checkbox [default]="true" style="text-align: right;"
                >Default unchecked</mdb-checkbox
              >
            </div>
            <div class="col"><a href="#">fdsafasdfasdasdf</a></div>

          </div>
          <a mdbBtn class="mt-5 signIn-btn round z-depth-1" color="info" rounded="true" mdbWavesEffect>Read more</a>
          <a mdbBtn class="mt-5 signUp-btn round z-depth-1" color="info" rounded="true" mdbWavesEffect>Read more</a>
        </form>
        <!-- Default form login -->
      </div>
    </div>
  </div>

  <div class="col bluee">
    One of three columns
  </div>
</div>
