.nav-container {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;

  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

.nav-container header{
  height: 12rem;
}

.nav {
  background: #fff;
  width: 20%;
  -ms-flex: 0 100px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
}

.main {
  width: 80%;
  background: rgb(204, 201, 201);
  border-radius: 5rem;
  padding: 1rem 4rem;
}

  a {
    text-decoration: none;
  }
  #sidebar {
    overflow: hidden;
    width: 100%;
    height: 100%;
    float: right;
    background: #fff;
  }
 
  #sidebar-nav h2 {
    color: #60636B;
    float: right;
    width: 100%;
    font-size: .8em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 3px 0 2px 20px;
    border-top: 1px solid #4D4C4C;
    box-sizing: border-box;
    margin: 10px 0;
  }
#acc-btns ul{
  list-style: none;
    display: inline-flex;
    padding: 0;
}
#acc-btns ul li{
  margin: 0 1rem;
}

  #sidebar-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #sidebar-nav ul li {
    
  }
  #sidebar-nav ul li a {
    color: #848096;
    text-align: center;
    font-size: .95em;
    margin: 15px 0px;
    margin-top: 1rem;
    float: right;
    width: 90%;
    font-weight: 600;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #sidebar-nav ul li:hover a, #sidebar-nav ul li:hover a i, #sidebar-nav li.active a, #sidebar-nav li.active a i {
    color: #524496;
    font-size: 18px;
  }
  #sidebar-nav ul li:hover a {
    background: #fff;
    color: #524496;
    font-size: 18px;
  }
  #sidebar-nav ul li.active a {
    background: #fff;
    color: #524496;
    font-size: 1.3rem;
  }
  #sidebar-nav ul li a.active {
    color: #524496;
    font-size: 1.3rem;
  }
  #sidebar-nav ul li a.active i{
    color: #524496;
    font-size: 1.3rem;
  }
  #sidebar-nav i {
    margin-left: 1rem;
    font-size: 1em;
    color: #848096;
    width: 25px;
    text-align: center;
  }
  .round {
    border-radius: 2rem !important;
    background-color: #524496 !important;
    color: #fff!important;
    font-size: 16px;
    padding: 0.5rem 4rem;
  }