<div class="nav-container">
  <div class="nav">
    <header class="w-100 text-center">
      <p>
        <img
          src="../../../assets/imgs/logo.png"
          style="width: 7rem; height: 7rem;"
        />
      </p>
    </header>
    <section id="sidebar">
      <div class="text-center">
        <a
        mdbBtn
        class="btn back-purple round z-depth-1"
        mdbWavesEffect
        >وارد میشم</a
      >
      </div>
      <div id="sidebar-nav" class="mt-4">
        <ul class="mt-4">
          <li>
            <a href="#" class="active"><i class="fa fa-desktop"></i>داشبورد</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-calendar"></i>تقویم</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-sitemap"></i>پروژه ها</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-map-marker"></i>وظایف</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-users"></i>کارمندان</a>
          </li>
        </ul>
      </div>
    </section>
  </div>

  <div class="main">
    <div>
      <app-navbar></app-navbar>
    </div>
    <div class="router mt-4 z-depth-1 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
